input{
  text-align: center;
}

.form-control-lg{
  font-size: 1.8rem;
}

.cursor{
  cursor: pointer;
}

.trash {
  transition: color 0.3s ease; /* Transición suave del color durante 0.3 segundos */
}

.trash:hover{
  color: rgb(199, 28, 28);
}

.tarea-completada{
  opacity: 0.5;
  text-decoration: line-through;
}
